/* Add your desired styling here */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }
  
  .header {
    background-color: #ebf5fb;
    color: #52be80;
    padding: 10px;
    display: flex;
    align-items: center;
    vertical-align: middle;
  }
  
  .logo {
    margin-right: 10px;
  }
  
  .title {

    text-align: center;
    font-size: 80px;
  }
  
  .header-right {
    background-color: #ebf5fb;
    color: #52be80;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
  }

  header nav ul li a {
    border-radius: 25px;
    background-color: #58d68d;
    color: white;
    text-align: center;
    justify-content: right;
  }  

  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    font-size: 30px;
    justify-content: right;
  }
  
  nav ul li {
    display: inline;
    justify-content: right;
  }
  
  nav ul li a {
    text-decoration: none;
    padding: 5px 10px;
    margin-right: 10px;
    justify-content: right;
  }
  
  #content {
    padding: 20px;
      color: #52be80 ;
  }
  
  footer {
    background-color: #ebf5fb;
    color: #52be80 ;
    padding: 10px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
  }

  img {
    border-radius: 20%;
  }
  
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }